
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Hanken Grotesk", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.container {
    display: flex;
}
h1 {
    margin-bottom: 2rem;
    color: hsl(241, 100%, 89%);
}
.card {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 375px;
    border-radius: 20px;
    padding: 2.5rem;
    padding: ;
}
.result-number {
    text-align: center;
}
.circle {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.circle h2 {
    color:hsl(0, 0%, 100%) ;
    font-size: 3.5rem;
}
.circle h3 {
    color:hsl(241, 100%, 89%);
}
.result-text h2  {
    margin-bottom: 1rem;
    color:hsl(0, 0%, 100%);
    font-size: 2rem
}
.result-text p {
    color: hsl(221, 100%, 96%);
}
.summary {
    background-color:hsl(0, 0%, 100%);
    width: 375px;
    padding: 2rem;
    font-size: 1.1rem;
}
.score {
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-left: 15px;
}
.icon {
    display: flex;

}
.icon img {
    margin-right: 0.5rem;
}
.result {
    display: flex;
}
strong {
    margin-right: 0.5rem;
}
.reaction {
    color:hsl(0, 100%, 67%) ;
}
.memory {
    color: hsl(39, 100%, 56%);
}
.verbal {
    color:hsl(166, 100%, 37%) ;
}
.visual {
    color: hsl(234, 85%, 45%);
}
.result > p {
    color:hsl(241, 100%, 89%);
}
.summary a {
    background-color:hsl(224, 30%, 27%) ;
    display: block;
    padding:10px;
    height: 3rem;
    text-align: center;
    color:hsl(221, 100%, 96%) ;
    text-decoration: none;
    border-radius: 20px;
    
}
.summary a:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));  
}
.summary > h1 {
    color: hsl(224, 30%, 27%);
    font-size: 1.5rem;
}
@media only screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }
    body {
        height: 100%;
    }
    .card {
        border-radius: 0px 0px 20px 20px;
    }
    .summary {
        padding: 1rem;
    }
}