@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


/* Reset Global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variaveis */
:root {
    --FT:'Big Shoulders Display', cursive;
    --FP:'Lexend Deca', sans-serif;
}
html, body {
    background-color: hsl(0, 0%, 95%);
}



.container {
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

p{
    font-family: var(--FP);
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    padding-bottom: 130px;
    line-height: 1.6rem;
    
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: var(--FT);
    padding: 25px 0px 30px 0px ;
    font-size: 2.5rem;
}

.sedans {
    background-color:hsl(31, 77%, 52%);
    width: 320px;
    height: 500px;
    padding: 30px 50px;
    border-radius: 10px 0px 0px 10px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    width: 320px;
    height: 500px;
    padding: 30px 50px;
}

.luxury {
    background-color:hsl(179, 100%, 13%);
    width: 320px;
    height: 500px;
    padding: 30px 50px;
    border-radius: 0px 10px 10px 0px;
}

a {
    padding: 8px 30px;
    border: 1px solid white;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    text-decoration: none;
    font-family: var(--FP);

}

.sedans a{
    color: hsl(31, 77%, 52%);
}

.suvs a{
    color:hsl(184, 100%, 22%) ;
}

.luxury a{
    color:hsl(179, 100%, 13%) ;
}

a:hover{
    background-color: rgba(240, 248, 255, 0);
    color: hsla(0, 0%, 100%, 0.75);
    transition-duration: 0.1s;    
}

@media only screen and (max-width:985px ) {

    .container {
        display: flex;
        flex-direction: column;
    }
    
    .sedans {
        border-radius: 10px 10px 0px 0px;
    }

    .luxury {
        border-radius: 0px 0px 10px 10px ;
    }

    p {
        padding-bottom: 80px;
    }

    section#card {
        height: 450px;
    }


}

